{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Nixo{% endblock %}

{% block body %}
    {{ include('component/_navbar.html.twig') }}
    

    {{ render(controller(
        'App\\Controller\\ProjectController::index'
    )) }}    
  
=======
{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
 {{parent()}}
	<section class="portfolio">

		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				{% for project in projects %}
					<div class="carousel-item text-center active">
						{% if vich_uploader_asset(project,'coverFile') %}
							<img  src="{{ vich_uploader_asset(project,'coverFile')|imagine_filter('thumbnail') }}" id="object-position-1" alt="image d'un projet">
						{% endif %}
						<div class="carousel-caption d-none d-md-block">
							<h5 class="portfolio-title ">{{ project.title }}</h5>
							<p class="portfolio-text">{{ project.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

	</section>

	<section class="portfolio">

		<div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner" role="listbox">
				{% for project in projects %}
					<div class="carousel-item text-center active ">
						
						{% if vich_uploader_asset(project,'coverFile') %}
							<img class="portfolio-img" src="{{ vich_uploader_asset(project,'coverFile')|imagine_filter('thumbnail') }}" id="object-position-1" alt="image d'un projet">
						{% endif %}
                        <div class="carousel-caption d-none d-md-block">
							<h5 class=" portfolio-title">{{ project.title }}</h5>
							<p class="portfolio-text">{{ project.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>

	{# Color boxes with buttons #}
	<div class="row text-center">
		<div class=" col light button-box py-5 ">
			<a class="test-button my-5" href="#">button</a>
		</div>

		<div class=" col dark button-box py-5  ">
			<a class="test-button my-5" href="#">button</a>
		</div>

		<div class=" col details button-box py-5  ">
			<a class="test-button my-5" href="#">button</a>
		</div>

		<div class=" col secondary button-box py-5  ">
			<a class="test-button my-5" href="#">button</a>
		</div>

	</div>


   {# Carousel VS4 #}
    <section class="portfolio-2 text-center">
            {# Original radio buttons #}
              <input class="radio1 mt-5" type="radio" name="position" checked /> 
              <input class="radio2 mt-5" type="radio" name="position" /> 
              <input class="radio3 mt-5" type="radio" name="position" />
              <input class="radio4 mt-5" type="radio" name="position" />
              <input class="radio5 mt-5 " type="radio" name="position" />  
          

                {# Personalised radio buttons which do not work currently  #}
                <div>
                        <label class="container-radio">
                            <input class="radio1 mt-5" type="radio" name="position" checked />  
                            <span class=" checkmark checkmark1"></span> 
                        </label> 

                
                        <label class="container-radio">
                            <input class="radio2 mt-5" type="radio" name="position" />
                            <span class=" checkmark checkmark2"></span> 
                        </label> 


                        <label class="container-radio">
                        <input class="radio3 mt-5" type="radio" name="position" />
                            <span class=" checkmark checkmark3"></span> 
                        </label> 

                
                        <label class="container-radio">
                            <input class="radio4 mt-5" type="radio" name="position" />
                            <span class="checkmark checkmark4"></span> 
                        </label> 

                    
                        <label class="container-radio">
                            <input class="radio5 mt-5 " type="radio" name="position" />  
                            <span class=" checkmark checkmark5"></span> 
                        </label> 

                </div>  

        {# Carousel itself #}
        <main id="carousel">
            
            {% for project in projects %}
                <div class="item">    
                    <h5> {{ project.title }}</h5>
                   	{% if vich_uploader_asset(project,'coverFile') %}
							<img src="{{ vich_uploader_asset(project,'coverFile')|imagine_filter('vignette') }}" id="object-position-1" alt="image d'un projet">
						{% endif %}
                    <p>{{ project.description|u.truncate(15,'Lire la suite...') }}</p>
                </div>
            {% endfor %}
         
        </main>
    </section>
>>>>>>> 189ac8c207338d11d63c8d17c217bc8fc68c553f
{% endblock %}
