{# {% extends 'base.html.twig' %}
{% block title %}Partner{% endblock %} #}

{% block body %}
 <section id="partners">
          <div class="container">
            <h2 class="section-title text-start">Ils nous font confiance</h2>
        
            {# -------------------Recommendations slider------------------------------------ #}
            <div id="partnerCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for partner in partners %}

                        {# Slider is activated in case loop.index = 1 #}
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %} ">
                                        
                            <div class="row">
                                    <div class="col-4 d-flex align-items-center justify-content-start">
                                    {# Images rendered from public/images/partner folder with help of VichUploaderBundle connected to admin crud system #}
                                        {% if vich_uploader_asset(partner,'coverFile') %}
                                        <img class="reco-logo" src="{{ vich_uploader_asset(partner,'coverFile')|imagine_filter('recologo') }}"  alt="{{partner.title}} logo image">
                                        {% endif %} 
                                    </div>      
                                    {# <div class="col-2">                           
                                    </div>                  #}
                                    <div class="col-8 carousel-text ">
                                        <h3>{{partner.firstname}}  {{partner.lastname}}</h2>
                                        <h4>{{partner.jobTitle}}</h3>
                                        <p><span>"</span>{{partner.recommendation}}<span>"</span></p>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>  
            <h2 class="section-title text-start">Nos partenaires</h2>
      
        {# --------------------------------Partners' logos slider-------------------------------- #}
   
            <div class="slider"> 
                <div class="marquee">
                    <ul class="marquee-content">
                    {% for partner in partners %}   
                        {# Partner logo space in slider #}       
                        <li>     
                            {# Logo images are clicable, opening in new windo leading to partners sebsite            #}
                            <a href="{{ partner.url }}" target=”_blank”>
                            {# Images rendered from public/images/partner folder with help of VichUploaderBundle connected to admin crud system #}
                            {% if vich_uploader_asset(partner,'coverFile') %}
                            <img class="partner-logo" src="{{ vich_uploader_asset(partner,'coverFile')|imagine_filter('logo') }}" >
                            {% else %}
                            <img class="partner-logo" src="{{ asset('images/Logo.png') }}" alt="nixo logo">
                            {% endif %} 
                            </a>
                        </li>                      
                    {% endfor %}                
                    </ul>
                </div>        
            </div> 
   </section> 

{% endblock %}
