{% block body %}

<section id="portfolio-intro">
    <div class="container">
        <h2 class="section-title portfolio text-center">Nos Réalisations</h2>
    </div>
   {# Carousel #}
    <div class="portfolio-2 text-center">

            {# Radio buttons #}
              <input class="radio mt-5 form-check-input" type="radio" name="position" /> 
              <input class="radio mt-5 form-check-input" type="radio" name="position" /> 
              <input class="radio mt-5 form-check-input" type="radio" name="position" checked />
              <input class="radio mt-5 form-check-input" type="radio" name="position" />
              <input class="radio mt-5 form-check-input " type="radio" name="position" />                         

            {# Carousel Cards #}
            <main id="carousel">
                
                {# Created iteration for 5 projects ONLY. 
                to do: Mark particular 5 project in the data base to be selected for this carousel #}
                             
                    {% for project in projects|slice(0, 5)  %}                    
                    
                        <div class="item"> 
                        {# to do: bind project id, to open in another page #}
                            <a href="{{ path('app_client_prof')}}#{{project.id}}">
                                <div class="content-container">                      
                                    {% if vich_uploader_asset(project,'coverFile') %}
                                        <img  src="{{ vich_uploader_asset(project,'coverFile')|imagine_filter('portfolio') }}"  alt="{{project.id}}">
                                    {% else %}
                                        <img class="backup-img " src="{{ asset('/images/projectCover.jpg') }}"  alt="{{project.id}}">
                                    {% endif %}                        
                                    <div class="bg-transparent">
                                    </div>                            
                                    <h5> {{ project.title }}</h5>                            
                                    <h6> {{ project.city }}</h6>                        
                                </div>                           
                            </a>
                        </div>
    
                    {% endfor %}   

            </main>
    </div>
</section>
{% endblock %}