{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <section class="portfolio">
        <div class="container">
    
            {# Carousel V3 #}

            <div id="portfolioCarousel" class="carousel slide"  data-bs-ride="carousel">

                    <div class="carousel-inner" role="listbox">
                        {% for project in projects %}
                            <div class="carousel-item text-center {% if loop.index == 1 %} active {% endif %}">
                                <img class="portfolio-img" src="{{ asset('img/'~ project.cover) }}">
                                <h5 class="portfolio-title">{{project.title}}</h5>
                                <p class="portfolio-text ">{{project.description}}</p>
                            </div>
                        {% endfor %}
                    </div>
                
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button> 
            </div>  
        </div>
    </section>

    {# Color boxes with buttons #}
    <div class="row text-center">
        <div class=" col light button-box py-5 ">
            <a class="test-button my-5" href="#">button</a>
        </div>

        <div class=" col dark button-box py-5  ">
            <a class="test-button my-5" href="#">button</a>
        </div>

        <div class=" col details button-box py-5  ">
            <a class="test-button my-5" href="#">button</a>
        </div>

                <div class=" col secondary button-box py-5  ">
            <a class="test-button my-5" href="#">button</a>
        </div>

    </div>


    {# Carousel VS4 #}
    <section class="portfolio-2 text-center">
            {# Original radio buttons #}
              <input class="radio1 mt-5" type="radio" name="position" checked /> 
              <input class="radio2 mt-5" type="radio" name="position" /> 
              <input class="radio3 mt-5" type="radio" name="position" />
              <input class="radio4 mt-5" type="radio" name="position" />
              <input class="radio5 mt-5 " type="radio" name="position" />  
          

                {# Personalised radio buttons which do not work currently  #}
                <div>
                        <label class="container-radio">
                            <input class="radio1 mt-5" type="radio" name="position" checked />  
                            <span class=" checkmark checkmark1"></span> 
                        </label> 

                
                        <label class="container-radio">
                            <input class="radio2 mt-5" type="radio" name="position" />
                            <span class=" checkmark checkmark2"></span> 
                        </label> 


                        <label class="container-radio">
                        <input class="radio3 mt-5" type="radio" name="position" />
                            <span class=" checkmark checkmark3"></span> 
                        </label> 

                
                        <label class="container-radio">
                            <input class="radio4 mt-5" type="radio" name="position" />
                            <span class="checkmark checkmark4"></span> 
                        </label> 

                    
                        <label class="container-radio">
                            <input class="radio5 mt-5 " type="radio" name="position" />  
                            <span class=" checkmark checkmark5"></span> 
                        </label> 

                </div>  

        {# Carousel itself #}
        <main id="carousel">
            
            {% for project in projects %}
                <div class="item">    
                    <h5> {{ project.title }}</h5>
                    <img class="portfolio-4-img" src="{{ asset('img/'~ project.cover) }}">
                    <p>{{project.description}}</p>
                </div>
            {% endfor %}
                {# <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div> #}
        </main>
    </section>

{% endblock %}
